<mat-card class="mat-card h-full" [routerLink]="'/products/' + product._id">
  <mat-card-header class="flex flex-wrap justify-between">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ product.name }}</mat-card-title>
    @for (category of categories; track $index) { @if(product.categoryId ===
    category._id) {
    <mat-card-subtitle class="mx-10">{{ category?.name }}</mat-card-subtitle>
    } } @for (brand of brands; track $index) { @if(product.brandId ===
    brand._id) {
    <mat-card-subtitle>{{ brand?.name }}</mat-card-subtitle>
    } }
  </mat-card-header>
  <img
    class="w-full h-52 object-cover"
    mat-card-image
    [src]="product.images[0]"
    alt="{{ product.name }}"
  />
  <mat-card-content>
    <p class="text-gray-700 description">
      {{ product.shortDescription.split(" ").slice(0, 6).join(" ") }}...
      <span class="full-description">{{
        product.description
          .split(" ")
          .slice(6, product.shortDescription.length)
          .join(" ")
      }}</span>
    </p>
    <div class="flex flex-wrap justify-between items-center">
      <strong class="block my-2">Price: </strong>
      <div class="flex flex-wrap gap-2">
        <span class="!text-xl text-gray-400"
          ><s>{{ product.price | currency : "EGP" }}</s></span
        >
        <span class="text-xl text-orange-500"
          >{{ getDiscountPercentage | currency : "EGP" }}% OFF</span
        >
        <span class="text-green-500 font-bold">{{
          sellingPrice | currency : "EGP"
        }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex justify-between gap-2">
    <button mat-fab color="accent" [routerLink]="'/products/' + product._id">
      <mat-icon>info</mat-icon>
    </button>
    <button
      mat-fab
      color="warn"
      (click)="addToWishList(); $event.stopPropagation()"
    >
      @if(isInWishList()){
      <mat-icon class="text-red-500">favorite</mat-icon>
      }@else {
      <mat-icon class="text-red-500">favorite_border</mat-icon>
      }
    </button>
    <button mat-fab color="warn">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
