.m-2 {
  margin: 0.5rem;
}
.mx-10 {
  margin: 0 1rem;
}
.mat-card {
  background-color: white !important;
  box-shadow: none;
  // width: 250px;
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .description {
    position: relative;
    overflow: hidden;

    .full-description {
      display: none;
    }

    &:hover .full-description {
      display: inline-block;
    }

    &:hover::after {
      content: "";
      display: none;
    }
  }
}
