.active {
  background-color: #f8f9fa;
  color: #000;
  border-left: 3px solid #007bff;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}
