<div class="h-screen">
  <div class="flex justify-between items-center flex-col h-4/5">
    <header
      class="bg-black text-white text-center w-full flex justify-center items-center"
    >
      <img class="w-24 h-20" src="images/Logo/GOXLOGO.jpg" alt="Logo" />
    </header>
    <img src="images/404 page image/error-404_f9bbb4.png" alt="" />
    <h3 class="text-2xl">
      Unfortunately the page you are looking for has been moved or deleted
    </h3>
    <button mat-flat-button color="primary" routerLink="/">
      {{ "Go To Home Page" | uppercase }}
    </button>
  </div>
</div>
